[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
maskpass = "*"
shortuuid = "*"
pyyaml = "*"
tabulate = "*"
coverage = "*"
cohesion = "*"
flake8 = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
flask = "*"
flask-smorest = "*"
flask-jwt-extended = "*"
mysql-connector-python = "*"
pymysql = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.11"
